*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
html {
    overflow-x: hidden;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
a {
    text-decoration: none;
    background-color: transparent;
    -webkit-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease
}
a:focus {
    outline: thin dotted #333;
    outline: 5px auto #ff2a13;
    outline-offset: -1px
}
a:hover,
a:active {
    outline: 0 !important
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}
#map_canvas img {
    max-width: none
}
button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button
}
input[type="search"] {
    -webkit-appearance: textfield
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}
textarea {
    overflow: auto;
    vertical-align: top
}
iframe {
    border: 0
}
.site:before,
.site:after {
    content: " ";
    display: table
}
.site:after {
    clear: both
}

body {
    margin: 0;
    overflow-x: hidden;
    line-height: 1.7
}
.container.offset {
    margin: 40px auto
}
p {
    margin: 0 0 1.313em
}
small {
    font-size: 0.8em
}
b,
strong {
    font-weight: 700
}
em {
    font-style: italic
}
cite {
    font-style: normal
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 1.25em 0 0.2em;
    text-rendering: optimizelegibility
}
h1,
.h1 {
    margin-top: 1em;
    font-size: 400%;
    line-height: 1.1
}
h2,
.h2 {
    font-size: 285.7%;
    line-height: 1.2
}
h3,
.h3 {
    font-size: 228.5%;
    line-height: 1.3
}
h4,
h5,
h6,
.h4,
.h5,
.h6 {
    margin-top: 1.75em;
    margin-bottom: 0.5em;
    line-height: 1.4
}
h4,
.h4 {
    font-size: 171.4%
}
h5,
.h5 {
    font-size: 150%
}
h6,
.h6 {
    font-size: 100%;
    text-transform: uppercase
}
ul,
ol {
    padding: 0;
    margin: 0 0 1.313em 1.655em
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0
}
ul {
    list-style: disc
}
ol {
    list-style: decimal
}
li {
    line-height: 1.7
}
ul.unstyled,
ol.unstyled {
    margin-left: 0;
    list-style: none
}
ul.inline,
ol.inline {
    margin-left: 0;
    list-style: none
}
ul.inline>li,
ol.inline>li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em
}
dl {
    margin-bottom: 1.313em
}
dt,
dd {
    line-height: 1.7
}
dt {
    font-weight: 700
}
dd {
    margin-left: 1.313em
}
hr {
    height: 0;
    margin: 1.313em 0;
    border: 0;
    border-top: 1px solid #f2f2f2
}
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #999
}
abbr.initialism {
    font-size: .9em;
    text-transform: uppercase
}
blockquote {
    margin: 1.313em 0;
    border: 1px solid #f2f2f2;
    border-left: 0;
    border-right: 0;
    padding: 1em 0;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 171.4%;
    font-weight: 400;
    line-height: 1.3;
    color: #272727
}
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: ""
}
address {
    display: block;
    margin-bottom: 1.313em;
    font-style: normal;
    line-height: 1.7
}

form {
    margin: 0 0 1.313em
}

label,
input,
button,
select,
textarea {
    font-size: 100%;
    line-height: 1.7
}
input,
button,
select,
textarea {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
}
label {
    display: block;
    margin-bottom: 2px
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    height: 2.65em;
    margin-bottom: 9px;
    border: 1px solid #ddd;
    padding: 0 0.65em;
    font-size: 13px;
    line-height: normal;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
input,
textarea {
    width: auto
}
textarea {
    height: auto;
    line-height: 1.3
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(0, 0, 0, 0.3);
    outline: 0;
    outline: thin dotted \9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2)
}
input[type="radio"],
input[type="checkbox"] {
    margin: 0.425em 0;
    margin-top: 1px \9;
    line-height: normal;
    cursor: pointer
}
@media (max-width: 480px) {
    input[type="radio"],
    input[type="checkbox"] {
        border: 1px solid #ccc
    }
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto
}
select,
input[type="file"] {
    height: 2.65em;
    padding-top: 0.5em;
    padding-bottom: 0.5em
}
select {
    width: auto
}
select[multiple],
select[size] {
    height: auto;
    border: 1px solid #ddd
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto #ff2a13;
    outline-offset: -1px
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #c5c5c5
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #c5c5c5
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #c5c5c5
}
.radio,
.checkbox {
    min-height: 18px;
    padding-left: 18px
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    position: relative;
    float: left;
    margin-left: -18px
}
.controls>.radio:first-child,
.controls>.checkbox:first-child {
    padding-top: 5px
}
.radio.inline,
.checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle
}
.radio.inline+.radio.inline,
.checkbox.inline+.checkbox.inline {
    margin-left: 10px
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed
}
input[disabled]:not(input[type="submit"]),
select[disabled],
textarea[disabled],
input[readonly]:not(input[type="submit"]),
select[readonly],
textarea[readonly] {
    background-color: #eee
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
    background-color: transparent
}

textarea {
    padding-top: 6px;
    padding-bottom: 6px
}

input[type="color"] {
    padding: 1px 3px
}
input[type="file"] {
    margin-top: 2px
}
.checkbox input[type="checkbox"] {
    top: 2px
}
.radio input[type="radio"] {
    top: 1px
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease
}
.fade.in {
    opacity: 1
}
.collapse {
    display: none
}
.collapse.in {
    display: block
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease
}

.desktop .menu-item,
.desktop .menu-item>a {
    position: relative
}
.desktop .menu-item.x-active>.sub-menu {
    display: block
}
.desktop .sub-menu {
    position: absolute;
    display: none;
    float: left;
    min-width: 200px;
    margin: 0;
    padding: 0.75em 0;
    font-size: 12px;
    list-style: none;
    background-color: #fff;
    z-index: 1000;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25)
}
.desktop .sub-menu a {
    display: block;
    clear: both;
    padding: 0.5em 1.6em;
    line-height: 1.7;
    white-space: nowrap;
    color: #b7b7b7
}
.desktop .sub-menu a:hover {
    text-decoration: none;
    color: #272727;
    background-color: rgba(0, 0, 0, 0.0175)
}
.desktop .sub-menu .x-active>a,
.desktop .sub-menu .current-menu-item>a {
    background-color: rgba(0, 0, 0, 0.0175)
}
.masthead-inline .one-navbar .desktop .sub-menu {
    left: auto;
    right: 0
}
.masthead-inline .one-navbar .desktop .sub-menu .sub-menu {
    top: -.75em;
    right: 98%
}
.masthead-inline .one-navbar.one-navbar-fixed-left .desktop .sub-menu {
    top: 0;
    left: 94%;
    right: auto
}
.masthead-inline .one-navbar.one-navbar-fixed-left .desktop .sub-menu .sub-menu {
    top: -.75em;
    left: 98%;
    right: auto
}
.masthead-inline .one-navbar.one-navbar-fixed-right .desktop .sub-menu {
    top: 0;
    left: auto;
    right: 94%
}
.masthead-inline .one-navbar.one-navbar-fixed-right .desktop .sub-menu .sub-menu {
    top: -.75em;
    left: auto;
    right: 98%
}
.masthead-stacked .one-navbar .desktop .sub-menu {
    left: 0;
    right: auto
}
.masthead-stacked .one-navbar .desktop .sub-menu .sub-menu {
    top: -.75em;
    left: 98%
}

.one-navbar {
    position: relative;
    overflow: visible;
    z-index: 1030
}
.one-navbar .container {
    position: relative
}
.one-nav-wrap.desktop {
    display: block
}
.one-nav-wrap.mobile {
    display: none;
    clear: both;
    overflow: hidden
}
@media (max-width: 979px) {
    .one-nav-wrap.desktop {
        display: none
    }
    .one-nav-wrap.mobile {
        display: block
    }
    .one-nav-wrap.mobile.collapse {
        display: none
    }
    .one-nav-wrap.mobile.collapse.in {
        display: block
    }
}
.one-brand {
    display: block;
    float: left;
    line-height: 1;
    text-decoration: none
}
.masthead-stacked .one-brand {
    display: inline-block;
    float: none
}
.one-btn-navbar {
    display: none;
    font-size: 24px;
    line-height: 1
}
@media (max-width: 979px) {
    .masthead-inline .one-btn-navbar {
        display: block;
        float: right
    }
    .masthead-stacked .one-btn-navbar {
        display: inline-block
    }
}
.one-navbar .one-nav a {
    -webkit-transition: none;
    transition: none
}
.one-navbar .one-nav>li>a>span {
    display: inline-block
}
@media (max-width: 979px) {
    .masthead-stacked .one-navbar {
        text-align: center
    }
}
.one-navbar .desktop .one-nav {
    margin: 0
}
.one-navbar .desktop .one-nav>li {
    float: left
}
.one-navbar .desktop .one-nav>li>a {
    float: none;
    line-height: 1;
    text-decoration: none
}
.one-navbar .desktop .one-nav>li>a:hover {
    text-decoration: none
}
.one-navbar .desktop .one-nav li>a>span:after {
    content: "\f103";
    margin-left: 0.35em;
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.one-navbar .desktop .one-nav li>a:only-child>span:after {
    content: "";
    display: none
}
.masthead-inline .desktop .one-nav {
    display: block;
    float: right
}
.masthead-stacked .desktop .one-nav {
    display: table;
    margin-left: auto;
    margin-right: auto
}
.one-navbar .mobile .one-nav {
    margin: 25px 0
}
.one-navbar .mobile .one-nav li>a {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 1.5;
    white-space: normal
}
.one-navbar .mobile .one-nav ul {
    margin: 0 0 0 2.25em;
    list-style: none
}
.masthead-stacked .mobile .one-nav {
    text-align: initial
}

.one-navbar-fixed-top,
.one-navbar-fixed-left,
.one-navbar-fixed-right {
    position: fixed;
    z-index: 1030
}
@media (max-width: 979px) {
    .one-navbar-fixed-top,
    .one-navbar-fixed-left,
    .one-navbar-fixed-right {
        position: relative
    }
}
.one-navbar-fixed-top {
    top: 0;
    left: 0;
    right: 0
}
@media (max-width: 979px) {
    .one-navbar-fixed-top-active .one-navbar-wrap {
        height: auto
    }
}

.one-navbar {
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.one-btn-navbar {
    padding: 0.458em 0.625em;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #919191;
    background-color: #f7f7f7;
    border-radius: 4px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: box-shadow 0.3s ease, color 0.3s ease, background-color 0.3s ease;
    transition: box-shadow 0.3s ease, color 0.3s ease, background-color 0.3s ease
}
.one-btn-navbar:hover {
    color: #919191
}
.one-btn-navbar.collapsed {
    color: #b7b7b7;
    background-color: #fff;
    box-shadow: inset 0 0 0 transparent, 0 1px 5px rgba(0, 0, 0, 0.25)
}
.one-btn-navbar.collapsed:hover {
    color: #919191;
    background-color: #f7f7f7;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25)
}
.one-navbar .desktop .one-nav>li>a {
    padding: 0
}
.one-navbar .mobile .one-nav li>a {
    margin: 0 0 -1px;
    border: 1px solid #f2f2f2;
    border-left: 0;
    border-right: 0;
    padding: 1em 0;
    color: #b7b7b7;
    background-color: transparent
}
.one-navbar .mobile .one-nav li>a:hover,
.one-navbar .mobile .one-nav .current-menu-item>a {
    color: #272727
}

.one-sub-toggle {
    width: 35px
}
.one-sub-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center
}
.one-sub-toggle>span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -9px;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1
}

.one-nav {
    margin-left: 0;
    margin-bottom: 1.313em;
    list-style: none
}
.one-nav>li>a {
    display: block
}
.one-nav>li>a:hover {
    text-decoration: none;
    background-color: transparent
}

.tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    visibility: visible;
    padding: 0.455em;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.2;
    text-shadow: none;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease
}
.tooltip.top {
    margin-top: -0.273em
}
.tooltip.right {
    margin-left: 0.273em
}
.tooltip.bottom {
    margin-top: 0.273em
}
.tooltip.left {
    margin-left: -0.273em
}
.tooltip-inner {
    max-width: 200px;
    padding: 0.727em 0.818em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #272727;
    border-radius: 4px
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #272727
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #272727
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #272727
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #272727
}

.one-social-global {
    font-weight: 400;
    line-height: 1
}
.one-social-global a {
    display: inline-block;
    text-align: center
}
.one-social-global a i {
    display: block
}
.twitter-tweet {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 0 1.313em !important
}

.container {
    margin: 0 auto
}
.container:before,
.container:after {
    content: " ";
    display: table
}
.container:after {
    clear: both
}
.container.max {
    max-width: 1200px
}
.container.width {
    width: 88%
}

.close {
    float: right;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.7;
    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    opacity: 0.4;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease
}
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6
}
button.close {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none
}

.one-colophon {
    position: relative;
    border-top: 1px solid #d4d4d4;
    background-color: #fff;
    box-shadow: 0 -0.125em 0.25em 0 rgba(0, 0, 0, 0.075)
}
.one-colophon+.one-colophon {
    border-top: 1px solid #e0e0e0;
    border-top: 1px solid rgba(0, 0, 0, 0.085);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8)
}
.one-colophon.top {
    padding: 5% 0 5.25%
}
.one-colophon.top .one-column .widget:first-child {
    margin-top: 0
}
@media (max-width: 979px) {
    .one-colophon.top {
        padding: 6.5% 0
    }
    .one-colophon.top .one-column .widget:first-child {
        margin-top: 3em
    }
    .one-colophon.top .one-column:first-child .widget:first-child {
        margin-top: 0
    }
}
.one-colophon.bottom {
    padding: 10px 0;
    font-size: 10px;
    text-align: center;
    color: #7a7a7a
}
.one-colophon.bottom .one-nav {
    margin: 10px 0;
    line-height: 1.3
}
.one-colophon.bottom .one-nav li {
    margin: 0 0.5em;
    display: inline-block
}
.one-colophon.bottom .one-nav li a {
    display: block;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase
}
.one-colophon.bottom .one-nav li a:hover {
    background-color: transparent
}
.one-colophon.bottom .one-social-global {
    margin: 10px 0
}
.one-colophon.bottom .one-social-global a {
    margin: 0 1.25%;
    font-size: 21px
}
.one-colophon.bottom .one-social-global a.foursquare {
    font-size: 20px
}
.one-colophon.bottom .one-colophon-content {
    margin: 30px 0 10px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.3
}
.one-colophon .widget {
    margin-top: 3em
}

.one-main {
    position: relative
}
.one-main .widget {
    margin-top: 3em
}
.one-main .widget:first-child {
    margin-top: 0
}
.hentry {
    margin-top: 4em
}
.hentry:first-child {
    margin-top: 0
}
.entry-featured {
    position: relative;
    box-shadow: 4px 2px 4px -4px rgba(0, 0, 0, 0.135), -4px 2px 4px -4px rgba(0, 0, 0, 0.135);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.has-post-thumbnail .entry-featured {
    border-bottom: 1px solid #ddd
}

.entry-wrap {
    display: block;
    padding: 60px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135)
}
@media (max-width: 767px) {
    .entry-wrap {
        padding: 36px
    }
}
@media (max-width: 480px) {
    .entry-wrap {
        padding: 25px
    }
}

.has-post-thumbnail .entry-wrap {
    border-radius: 0 0 4px 4px
}
.entry-thumb {
    display: block;
    position: relative;
    background-color: #000
}
.entry-thumb img {
    min-width: 100%;
    -webkit-transition: opacity 0.75s ease;
    transition: opacity 0.75s ease
}
.entry-thumb:before {
    content: "\f0c1";
    display: block;
    position: absolute;
    margin: -36px 0 0 -35px;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    font-size: 42px;
    line-height: 72px;
    text-align: center;
    text-shadow: 0 0.035em 0 rgba(0, 0, 0, 0.35);
    vertical-align: middle;
    color: #fff;
    border-radius: 100em;
    opacity: 0;
    -webkit-transition: opacity 0.75s ease;
    transition: opacity 0.75s ease;
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
a.entry-thumb:hover img {
    opacity: .15
}
a.entry-thumb:hover:before {
    opacity: 1
}
.entry-title {
    margin: 0;
    font-size: 250%;
    line-height: 1.05
}
@media (max-width: 480px) {
    .entry-title {
        font-size: 200%
    }
}
.entry-title-sub {
    display: block;
    margin: 0.75em 0 0;
    font-size: 128.5%;
    line-height: 1.05
}
.p-meta {
    margin: 8px 0 0;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 85.7%;
    line-height: 1.5;
    text-transform: uppercase
}
.p-meta>span {
    display: inline-block
}
.p-meta>span>a {
    white-space: nowrap
}
.p-meta>span:after {
    content: "/";
    padding: 0 0.5em 0 0.45em
}
.p-meta>span:last-child:after {
    display: none
}
.entry-content {
    margin-top: 1.25em
}
.entry-content:before,
.entry-content:after {
    content: " ";
    display: table
}
.entry-content:after {
    clear: both
}
.entry-content embed,
.entry-content iframe,
.entry-content object {
    width: 100%;
    max-width: 100%
}
.entry-content>p:last-child,
.entry-content>ul:last-child,
.entry-content>ol:last-child {
    margin-bottom: 0
}
.more-link {
    display: inline-block;
    margin: 0;
    font-weight: 700;
    font-size: 128.5%;
    line-height: 1.4
}
.entry-footer {
    margin-top: 0.325em
}
.entry-footer a {
    display: inline-block;
    float: left;
    position: relative;
    margin: 0.615em 0.615em 0 0;
    border: 1px solid #ddd;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.692em 1.154em 0.769em;
    cursor: pointer;
    font-size: 13px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    color: #c5c5c5;
    color: rgba(0, 0, 0, 0.375);
    background-color: transparent;
    border-radius: 0.35em;
    box-shadow: inset 0 0 0 transparent, 0 1px 1px rgba(255, 255, 255, 0.95);
    -webkit-transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease
}
@media (max-width: 767px) {
    .entry-footer a {
        font-size: 11px
    }
}
@media (max-width: 480px) {
    .entry-footer a {
        font-size: 10px
    }
}
.entry-footer a:hover {
    color: #777;
    color: rgba(0, 0, 0, 0.75);
    border-color: #cfcfcf;
    border-color: rgba(0, 0, 0, 0.25);
    background-color: #fff;
    background-color: #fff
}
.entry-footer a:active {
    color: #777;
    color: rgba(0, 0, 0, 0.75);
    border-color: #bbb;
    border-color: rgba(0, 0, 0, 0.25);
    background-color: #ebebeb;
    background-color: rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.225), 0 1px 1px rgba(255, 255, 255, 0.95)
}

.format-link .one-hgroup {
    margin-bottom: 1.5em;
    border-bottom: 1px solid #f2f2f2;
    padding: 0 0 1.5em
}
.format-link .entry-title-sub a {
    border-bottom: 1px dotted;
    word-break: break-all
}
.format-link .p-meta {
    text-align: center
}

.format-quote .one-hgroup {
    margin-bottom: 1.5em;
    padding: 0;
    text-align: center
}
.format-quote .entry-title:before,
.format-quote .entry-title:after {
    font-weight: 300
}
.format-quote .entry-title:before {
    content: "\201C";
    margin-right: 0.115em
}
.format-quote .entry-title:after {
    content: "\201D";
    margin-left: 0.115em
}
.format-quote .entry-title-sub:before {
    content: "\2013\00A0"
}
.format-quote .p-meta {
    text-align: center
}

.form-submit {
    margin: 0
}
.widget {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.95)
}
.widget .h-widget:before,
.widget .h-widget:after {
    opacity: .35
}

.h-widget {
    margin: 0 0 0.5em;
    font-size: 150%;
    line-height: 1
}

.alignright {
    float: right;
    margin: 0.35em 0 0.35em 1.313em
}
.alignleft {
    float: left;
    margin: 0.35em 1.313em 0.35em 0
}
.alignnone {
    float: none;
    margin: 0 0 1.313em 0
}
.aligncenter {
    display: block;
    margin: 0 auto 1.313em
}

.cf:before,
.cf:after {
    content: " ";
    display: table
}
.cf:after {
    clear: both
}
.right {
    float: right
}
.left {
    float: left
}
.center-block {
    margin-left: auto;
    margin-right: auto
}
.center-list {
    display: table;
    margin-left: auto;
    margin-right: auto
}
.hide {
    display: none
}
.show {
    display: block
}
.invisible {
    visibility: hidden
}
.visually-hidden,
.screen-reader-text,
.screen-reader-response,
.bp-screen-reader-text {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0)
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.ptn,
.pvn,
.pan {
    padding-top: 0 !important
}
.pts,
.pvs,
.pas {
    padding-top: .5em !important
}
.ptm,
.pvm,
.pam {
    padding-top: 1em !important
}
.ptl,
.pvl,
.pal {
    padding-top: 2em !important
}
.prn,
.phn,
.pan {
    padding-right: 0 !important
}
.prs,
.phs,
.pas {
    padding-right: .5em !important
}
.prm,
.phm,
.pam {
    padding-right: 1em !important
}
.prl,
.phl,
.pal {
    padding-right: 2em !important
}
.pbn,
.pvn,
.pan {
    padding-bottom: 0 !important
}
.pbs,
.pvs,
.pas {
    padding-bottom: .5em !important
}
.pbm,
.pvm,
.pam {
    padding-bottom: 1em !important
}
.pbl,
.pvl,
.pal {
    padding-bottom: 2em !important
}
.pln,
.phn,
.pan {
    padding-left: 0 !important
}
.pls,
.phs,
.pas {
    padding-left: .5em !important
}
.plm,
.phm,
.pam {
    padding-left: 1em !important
}
.pll,
.phl,
.pal {
    padding-left: 2em !important
}
.mtn,
.mvn,
.man {
    margin-top: 0 !important
}
.mts,
.mvs,
.mas {
    margin-top: .5em !important
}
.mtm,
.mvm,
.mam {
    margin-top: 1em !important
}
.mtl,
.mvl,
.mal {
    margin-top: 2em !important
}
.mrn,
.mhn,
.man {
    margin-right: 0 !important
}
.mrs,
.mhs,
.mas {
    margin-right: .5em !important
}
.mrm,
.mhm,
.mam {
    margin-right: 1em !important
}
.mrl,
.mhl,
.mal {
    margin-right: 2em !important
}
.mbn,
.mvn,
.man {
    margin-bottom: 0 !important
}
.mbs,
.mvs,
.mas {
    margin-bottom: .5em !important
}
.mbm,
.mvm,
.mam {
    margin-bottom: 1em !important
}
.mbl,
.mvl,
.mal {
    margin-bottom: 2em !important
}
.mln,
.mhn,
.man {
    margin-left: 0 !important
}
.mls,
.mhs,
.mas {
    margin-left: .5em !important
}
.mlm,
.mhm,
.mam {
    margin-left: 1em !important
}
.mll,
.mhl,
.mal {
    margin-left: 2em !important
}

[data-icon],
[class*="icon-"] {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
[data-icon].left,
[class*="icon-"].left {
    margin-right: 0.5em
}
[data-icon].right,
[class*="icon-"].right {
    margin-left: 0.5em
}
[data-icon]:before,
[class*="icon-"]:before {
    content: attr(data-icon);
    line-height: 1
}
