<div class="entry-thumb">
  <img src="images/3-steps.png" alt="" />
</div>
<div class="entry-wrap">

  <header class="entry-header">
    <h2 class="entry-title">
      <a href="">3 Easy Steps</a>
    </h2>
  </header>

  <div class="entry-content">
    <ol>
      <li><strong>ADD. </strong>Enter the names and email addresses of everyone involved for the gift exchange.</li>
      <li><strong>DRAW.</strong> Go to the members list and click on "Draw Secret Santa."</li>
      <li><strong>EMAIL.</strong> After the drawings are completed, you can click on "Email All Members" to inform all members who they have for their Secret Santa.</li>
    </ol>
    <div>
      <a href="#article-add-member" class="more-link">Start</a>
    </div>

  </div>

</div>