<div class="entry-wrap">
  <header class="entry-header">
    <h1 class="entry-title">Add member</h1>
  </header>
  <div class="entry-content content">
    <p>Add a member to the Secret Santa group. Remember to add yourself!</p>
    <div role="form">
      <div class="screen-reader-response"></div>
      <form>
        <p>Name (required)
          <br>
          <span class="your-name">
            <input type="text" id="input-name" name="input-name" value="" size="40" aria-required="true" aria-invalid="false" required>
          </span>
        </p>
        <p>Email (required)
          <br>
          <span class="your-email">
            <input type="email" id="input-email" name="input-email" value="" size="40" aria-required="true" aria-invalid="false" required>
          </span>
        </p>
      </form>
      <p>
        <input type="submit" value="Add" id="add-member-btn" />
        <img class="ajax-loader" src="/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;" />
      </p>
    </div>
  </div>
  <div class="widget">
    <h3 class="h3">Members list [
      <span id="members-count"></span> ]</h3>
    <ol id="members-list">
    </ol>
  </div>
  <button id="draw-secret-santas" type="submit">Draw Secret Santas</button>
</div>