<div class="entry-thumb">
  <img src="images/3-steps.png" alt="" />
</div>
<div class="entry-wrap">

  <header class="entry-header">
    <h2 class="entry-title">
      <a href="">3 Easy Steps</a>
    </h2>
  </header>

  <div class="entry-content">
    <p>Enter the names and email addresses of everyone involved for the gift exchange and click on "Draw". After the drawings
      are completed, you can "Email All" to inform all members who they have. You can also email to individual members next
      to his/her name.</p>
    <div>
      <a href="#article-add-member" class="more-link">Start</a>
    </div>

  </div>

</div>