<?php
include 'email-members.php';
?>

<div class="entry-wrap">
  <header class="entry-header">
    <h1 class="entry-title">Send Email</span>
    </h1>
  </header>
  <div class="entry-content content">
    <div role="form">
      <div class="screen-reader-response"></div>
      <form method="post" action="success.html" novalidate="novalidate">
        <p>Group name
          <br>
          <span>
            <input type="text" id="group-name" name="group-name" value="" size="40" aria-required="false" aria-invalid="false">
          </span>
          <span id="group-error" class="error">Please enter a valid group name</span>
        </p>
        <p>Budget
          <br>
          <span>
            <input type="number" id="budget" name="budget" placeholder="$" value="" size="40" aria-required="false" aria-invalid="true">
          </span>
          <span id="budget-error" class="error">Please enter a numeric budget</span>
        </p>
        <p>Date of gift exchange
          <br>
          <span>
            <input type="date" id="exchange-date" name="exchange-date" value="" size="40" aria-invalid="false">
          </span>
          <span id="date-error" class="error">Please enter a valid date</span>
        </p>
        <p>Message
          <br>
          <span>
            <textarea type="text" cols="40" rows="10" id="email-message" name="email-message" aria-required="false" aria-invalid="false"></textarea>
          </span>
        </p>
        <button id="email-all-members" name="email-all-members" type="submit">Email All Members</button>
      </form>
    </div>
  </div>
</div>