<div class="container max width">


	<!-- <ul id="menu-footer" class="one-nav">
		<li class="menu-item">
			<a href="">About</a>
		</li>
		<l class="menu-item">
			<a href="">Contact</a>
			</li>
	</ul> -->
	<div class="one-social-global">
		<a href="https://github.com/kristietamato" class="github" title="Github" target="_blank">
			<i class="fa fa-github-square" aria-hidden="true"></i>
		</a>
		<a href="https://twitter.com/KristieTamato" class="twitter" title="Twitter" target="_blank">
			<i class="fa fa-twitter-square" aria-hidden="true"></i>
		</a>
		<a href="mailto:kristietamato@gmail.com" class="email" title="eMail" target="_blank">
			<i class="fa fa-envelope-square" aria-hidden="true"></i>
		</a>
	</div>
	<div class="one-colophon-content">
		<p style="letter-spacing: 2px; text-transform: uppercase;">Powered By
			<a href="//www.tamato.org" title="Tamato">Tamato</a>
		</p>
	</div>
</div>